{% if kiosk_display_type == "dsi-waveshare" %}
Section "Monitor"
	Identifier "DSI-1"
{%if screen_rotation == "right" %}	Option "Rotate" "right" {% endif %}
	Option "PreferredMode" "1280x800"
EndSection
{% endif %}